header{
    margin-top: 44px;
    .header-all{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lang{
            display: flex;
            align-items: center;
            width: calc(100%/3);
            span{
                color: $secondary_color;
                font-size: 15px;
                font-weight: 400;
                margin: 0 8px;
            }
        }
        .logo{
            width: calc(100%/3);
            text-align: center;
        }
        .header-actions{
            width: calc(100%/3);
           ul{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 32px;
            li{
                display: flex;
                align-items: center;
                cursor: pointer;
                span{
                    color: #090909;
                    font-size: 14px;
                    font-weight: 400;
                    margin-left: 8px;
                }
                &:nth-child(5){
                    display: none;
                }
                a{
                    display: flex;
                    align-items: center;
                }
            }
           }
        }
    }
}