@media screen and (max-width:768px){
    .container{
        padding: 0 16px;
    }
    .modal-content{
        width: 95% !important;
        .modal-tablinks{
            button{
                padding: 10px 8px !important;
            }
        }
    }
    header{
        .logo{
            img{
                width: 117px;
                height: 28px;
            }
        }
        .header-actions{
            ul{
                gap: 8px !important;
                li{
                    display: none !important;
                    &:nth-child(2){
                        display: flex !important;
                    }
                    &:nth-child(5){
                        display: flex !important;
                    }
                }
            }
        }
    }
    .home-page{
        .main-left{
            display: none;
        }
        .main-products{
            width: 100% !important;
            &__top{
                display: none !important;
            }
        }
    }
    .product-item{
        width: 100% !important;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .product-item{
        width: 49% !important;
    }
}


@media screen and (min-width:576px) and (max-width:1400px) {
    .container {
        padding: 0 24px;
    }
}



@media screen and (min-width:768px) and (max-width:992px) {
    .product-item{
        width: 49% !important;
    }
}